<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.achievement.mapper.EduAchievementAuditLogMapper">
    
    <resultMap type="EduAchievementAuditLog" id="EduAchievementAuditLogResult">
        <result property="id"    column="id"    />
        <result property="achievementId"    column="achievement_id"    />
        <result property="auditorId"    column="auditor_id"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditOpinion"    column="audit_opinion"    />
        <result property="auditResult"    column="audit_result"    />
        <result property="previousStatus"    column="previous_status"    />
        <result property="currentStatus"    column="current_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectEduAchievementAuditLogVo">
        select id, achievement_id, auditor_id, audit_time, audit_opinion, audit_result, previous_status, current_status, create_by, create_time, update_by, update_time, del_flag from edu_achievement_audit_log
    </sql>

    <select id="selectEduAchievementAuditLogList" parameterType="EduAchievementAuditLog" resultMap="EduAchievementAuditLogResult">
        <include refid="selectEduAchievementAuditLogVo"/>
        <where>  
            <if test="achievementId != null "> and achievement_id = #{achievementId}</if>
            <if test="auditorId != null "> and auditor_id = #{auditorId}</if>
            <if test="auditTime != null "> and audit_time = #{auditTime}</if>
            <if test="auditOpinion != null  and auditOpinion != ''"> and audit_opinion = #{auditOpinion}</if>
            <if test="auditResult != null  and auditResult != ''"> and audit_result = #{auditResult}</if>
            <if test="previousStatus != null  and previousStatus != ''"> and previous_status = #{previousStatus}</if>
            <if test="currentStatus != null  and currentStatus != ''"> and current_status = #{currentStatus}</if>
        </where>
    </select>
    
    <select id="selectEduAchievementAuditLogById" parameterType="Long" resultMap="EduAchievementAuditLogResult">
        <include refid="selectEduAchievementAuditLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertEduAchievementAuditLog" parameterType="EduAchievementAuditLog" useGeneratedKeys="true" keyProperty="id">
        insert into edu_achievement_audit_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="achievementId != null">achievement_id,</if>
            <if test="auditorId != null">auditor_id,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditOpinion != null">audit_opinion,</if>
            <if test="auditResult != null and auditResult != ''">audit_result,</if>
            <if test="previousStatus != null and previousStatus != ''">previous_status,</if>
            <if test="currentStatus != null and currentStatus != ''">current_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="achievementId != null">#{achievementId},</if>
            <if test="auditorId != null">#{auditorId},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditOpinion != null">#{auditOpinion},</if>
            <if test="auditResult != null and auditResult != ''">#{auditResult},</if>
            <if test="previousStatus != null and previousStatus != ''">#{previousStatus},</if>
            <if test="currentStatus != null and currentStatus != ''">#{currentStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateEduAchievementAuditLog" parameterType="EduAchievementAuditLog">
        update edu_achievement_audit_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="achievementId != null">achievement_id = #{achievementId},</if>
            <if test="auditorId != null">auditor_id = #{auditorId},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditOpinion != null">audit_opinion = #{auditOpinion},</if>
            <if test="auditResult != null and auditResult != ''">audit_result = #{auditResult},</if>
            <if test="previousStatus != null and previousStatus != ''">previous_status = #{previousStatus},</if>
            <if test="currentStatus != null and currentStatus != ''">current_status = #{currentStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEduAchievementAuditLogById" parameterType="Long">
        delete from edu_achievement_audit_log where id = #{id}
    </delete>

    <delete id="deleteEduAchievementAuditLogByIds" parameterType="String">
        delete from edu_achievement_audit_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>